<div class="row">
	<div class="col-md-12">
		<header id="topbar" class="alt">
			<div class="topbar-left">
				<ol class="breadcrumb">
					<li class="text-system">
						<a ui-sref="main.zonas">
							<span class="fa fa-map-marker"></span>
						</a>
					</li>
					<li class="breadcrumb-active">
						<a class="text-system">Zonas de infuencia</a>
					</li>

				</ol>
			</div>
			<div class="topbar-right">

				<div class="btn-group">
					<a  class="btn btn-primary" ui-sref="main.zonas.crear">
						<i class="fa fa-plus"></i>
					</a>
					
				</div>

			</div>
		</header>
	</div>
</div>
<br>


<div ui-view>

	<div class="chute chute-center">
		<div class="row">
			<div class="col-sm-6 col-xl-3" ng-repeat="zona in zonas">
				<a ui-sref="main.zonas.detalle({zonaId:zona.id})">
					<div class="panel panel-tile">
						<div class="panel-body">
							<div class="row pv10">
								<div class="col-xs-5 ph10"><img src="assets/img/zona.png" class="img-responsive mauto" alt="imagen zona"></div>
								<div class="col-xs-7 pl5 ellipsis">
									<h4 class="fs20 mt5 mbn nowrap">{{zona.nombre}}</h4>
									<h2 class=" text-muted">200</h2>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-sm-6 col-xl-3">
				<a ui-sref="main.zonas.crear">
					<div class="panel panel-tile">
						<div class="panel-body">
							<div class="row pv10">
								<div class="col-xs-6 ">
									<h5 class="text-muted">Nueva zona</h5>

								</div>
								<div class="col-xs-6">
									<h1 class="fs40  mbn nowrap">
								<span class="fa fa-plus-circle"></span>
								</h1>

								</div>
							</div>
						</div>
					</div>
				</a>
			</div>

		</div>
	</div>

</div>