<div class="chute chute-center micontent">
	<div class="row">
		<div class="col-md-4">
			<div class="row">
				<div class="col-md-12 panel panel-primary">
					<img src="assets/img/ic_zona.png" class="ic-zona center-block">
					<h1 class="mi-zona-title">{{zona.nombre | capitalize}}</h1>

					<div class="tools-zonas">
						<h3 class="text-rigth text-center">{{zona.nombre}}</h3>
						<h5 class="text-rigth text-center text-system">{{zona.usuario.empleado.primer_nombre +' '
                            +zona.usuario.empleado.segundo_nombre +' '+zona.usuario.empleado.primer_apellido +'  '+zona.usuario.empleado.segundo_apellido}}</h5>
						<button type="button" class="btn btn-primary btn-block">Editar</button>
						<button type="button" class="btn btn-danger btn-block">Eliminar</button>

					</div>
				</div>
				<div class="col-md-4">

				</div>



			</div>

		</div>
		<div class="col-md-8">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span class="panel-title">Descripcion</span>
				</div>
				<div class="panel-body ">
					<p>{{zona.descripcion}}</p>
				</div>
			</div>

			<div class="panel panel-primary">
				<div class="panel-heading">
					<span class="panel-title">Consejo comunitario</span>
				</div>
				<div class="panel-body">
					<div class="well blockquote-rounded mv20" ng-repeat="consejo in zona.consejos_comunitario">
						<address>
							<strong>Presidente</strong>
							<br>{{consejo.presidente}}
							<br>Tel: {{consejo.contacto}}
							<br>
						</address>
						<address>
							<strong>Miembros</strong>
							<br>{{consejo.participantes}}
							
							
						</address>
					</div>
				</div>
			</div>
		</div>

	</div>


</div>
