<div class="chute chute-center micontent">
	<div class="row">
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-8 panel panel-primary">
					<img src="assets/img/ic_zona.png" class="ic-zona center-block">
					<h1 class="mi-zona-title">{{zona.nombre | capitalize}}</h1>

					<div class="tools-zonas">
						<h3 class="text-rigth text-center">{{zona.nombre}}</h3>
						<h5 class="text-rigth text-center text-system">Juan puerto bahia</h5>
						<button type="button" class="btn btn-primary btn-block">Editar</button>
						<button type="button" class="btn btn-danger btn-block">Eliminar</button>

					</div>
				</div>
				<div class="col-md-4">

				</div>



			</div>

		</div>
		<div class="col-md-6 panel panel-primary">
			<div class="panel-heading">
				<span class="panel-title">Descripcion</span>
			</div>
			<div class="panel-body">
				<p>{{zona.descripcion}}</p>
			</div>
		</div>
	</div>
</div>