<div class="row">
	<div class="col-md-12">
		<header id="topbar" class="alt">
			<div class="topbar-left">
				<span class="panel-title">Zonas </span>
			</div>
			<div class="topbar-right">
			</div>
		</header>
	</div>
</div>
<br>
<div class="chute chute-center">
	<div class="row">
		<div class="col-sm-6 col-xl-3" ng-repeat="zona in zonas">
			<a ui-sref="main.zonaDetalle({zonaId:zona.id})">
				<div class="panel panel-tile" >
					<div class="panel-body">
						<div class="row pv10">
							<div class="col-xs-5 ph10"><img src="assets/img/zona.png" class="img-responsive mauto" alt="imagen zona"></div>
							<div class="col-xs-7 pl5 ellipsis">
								<h4 class="fs20 mt5 mbn nowrap">{{zona.nombre}}</h4>
								<h2 class=" text-muted">200</h2>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>