
<h1>Zonas</h1>
<div class="chute chute-center">
<div class="row">
	<div class="col-sm-6 col-xl-3" ng-repeat="zona in zonas">
		<div class="panel panel-tile">
			<div class="panel-body">
				<div class="row pv10" >
					<div class="col-xs-5 ph10"><img src="" class="img-responsive mauto" alt="imagen zona"></div>
					<div class="col-xs-7 pl5">
						<h2 class="fs50 mt5 mbn">{{zona.nombre}}</h2>
						<h6 class="text-muted">{{zona.descripcion}}</h6>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

