<div class="row">
	<div class="col-md-12">
		<header id="topbar" class="alt">
			<div class="topbar-left">
				<ol class="breadcrumb">
					<li class="text-system">
						<a ui-sref="main.programas">
							<span class="fa fa-puzzle-piece"></span>
						</a>
					</li>
					<li class="breadcrumb-active">
						<a class="text-system">Programas</a>
					</li>

				</ol>
			</div>
			<div class="topbar-right">

				<div class="btn-group">
					<a  class="btn btn-primary" ui-sref="main.programas.crear">
						<i class="fa fa-plus"></i>
					</a>
					
				</div>

			</div>
		</header>
	</div>
</div>
<br>


<div ui-view>

	<div class="chute chute-center" style="height: 830px;">

		<!-- -------------- Basic FooTable -------------- -->
		<div class="panel" id="spy1">
			<div class="panel-heading">
				<span class="panel-title">Lista de programas</span>
			</div>
			<div class="panel-body pn">
				<div class="table-responsive">
					<table class="table footable no-paging footable-loaded">
						<thead>
							<tr>
								<th class="footable-sortable">Nombre<span class="footable-sort-indicator"></span></th>
								<th class="footable-sortable footable-sorted-desc">Descripcion<span class="footable-sort-indicator"></span></th>
								<th class="footable-sortable">Acción<span class="footable-sort-indicator"></span></th>
							</tr>
						</thead>
						<tbody>






							<tr class="footable-even" style="display: table-row;" ng-repeat="programa in programas">
								<td><span class="footable-toggle"></span>{{programa.nombre}}</td>
								<td>{{programa.descripcion}}</td>
                                                                <td>
									<div class="btn-group">
										<a type="button" class="btn btn-primary light" ui-sref="main.programas.detalle({programaId:programa.id})">
											<i class="fa fa-share-square-o"></i>
										</a>
										<a type="button" class="btn btn-danger light">
											<i class="fa fa-trash"></i>
										</a>
									</div>
								</td>
								
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>


	</div>
</div>